---
interface Props {
	title: string
	className?: string
	subtitle?: string
}

const { title, subtitle } = Astro.props
---

<article
	class={`
        ${Astro.props.className} 
        relative rounded-xl
        col-span-5
        backdrop-blur-xl
        border border-black/10
        shadow-inner shadow-white/10
    `}
>
	<slot name="image" />

	<div
		class="select-none flex flex-col gap-1 p-6 text-lg z-20 justify-end h-full"
	>
		<h2 class="text-3xl text-balance font-semiboldbold text-white mb-4">
			{title}
		</h2>

		{
			subtitle && (
				<h3 class="text-3xl font-semibold text-sky-200/80 -mt-4 mb-4">
					{subtitle}
				</h3>
			)
		}

		<slot name="content" />
	</div>
</article>
