<div class="w-full relative">
	<img
		src="/logo-home.svg"
		alt="Esland - Premios a la comunidad"
		class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
	/>
	<video
		class="w-full h-screen object-cover object-top animate-fade animate-duration-1000 animate-ease-in-out"
		src="/video.mp4"
		autoplay
		loop
		muted
		style="clip-path: polygon(50% 100%, 100% 73%, 100% 0, 0 0, 0 76%);"></video>
	<video
		class="absolute -bottom-48 blur-3xl -z-40"
		src="/video.mp4"
		autoplay
		loop
		muted></video>
</div>
